.fontA{
    font-family: 'GMarketSans'; font-weight: 500;
}
.fontB{
    font-family: 'GMarketSans'; font-weight: 700;
}
.fontC{
    font-family: 'YeogiOttaeJalnan';
}
.fontD{
    font-family: 'Pretendard';
}
.fontE{
    font-family: 'OmuDaye';
}
.fontF{
    font-family: 'KerisKeduLine';
}
