a.topbanner{
    display: flex; gap: 20px; background-color: #FF8AAB; height: 70px; align-items: center; justify-content: center;
}
a.topbanner > img{
    width: 43px;
}
a.topbanner > span.point{
    background-color: #FFFE8D; padding: 9px 20px 6px 40px; box-sizing: border-box; width: 132px; position: relative; border-radius: 60px; font-size: 24px; color: #FF8AAB; 
}
a.topbanner > span.point > img{
    width: 62px; height: auto; position: absolute; left: -22px; top: -10px;
}
a.topbanner > span.text{
    font-size: 28px; color: #fff;
}
a.topbanner > span.text > b{
    color: #FFFE8D; position: relative;
}
a.topbanner > span.text > b::after{
    content: ''; position: absolute; left: 0; bottom: -8px; width: 100%; height: 8px; background: url("../images/line.svg") no-repeat center / 100% auto;
}
header, nav{
    z-index: 10;
}
main > div.step2{
    background-color: #B0EEAF;
}

@media screen and (max-width:767px){
    
}
@media screen and (min-width:768px) and (max-width:1279px){
    
}
@media screen and (min-width:1280px){
    [class^="box"]{
        max-width: 1200px; margin: 0 auto;
    }
    main{
        position: relative;
    }
    main > div > section img{
        display: block; max-width: 100%;
    }
    main > div.step1{
        background: url("../images/graphic.png") no-repeat center top / 1920px 922px;
    }
    main > div.step1 > section.box1{
        padding-top: 72px; position: relative; width: 100%; max-width: 1200px; margin: 0 auto;
    }
    main > div.step1 > section.box1 > h2{
        width: 50%; margin: 0 auto 245px;
    }
    main > div.step1 > section.box1 > h2 > img{
        width: 100%;
    }
    main > div.step1 > section.box1 > img:not(.content){
        position: absolute;
    }
    main > div.step1 > section.box1 > img.badge{
        left: 9%; top: 100px; width: 20%;
    }
    main > div.step1 > section.box1 > img.speech{
        left: 13%; top: 41%; z-index: 1; width: 35%;
    }
    main > div.step1 > section.box1 > img.chgif{
        left: 56%; transform: translateX(-50%); bottom: 17%; width: 50%; z-index: 2;
    }
    main > div.step1 > section.box1 > img.content{
        position: relative; z-index: 3; width: 100%;
    }
    main > div.step2{
        padding-top: 300px; position: absolute; top: 922px; left: 0; width: 100%;
    }
    main > div.step2 > section.box2 > img{
        margin: 0 auto 10px;
    }
    main > div.step2 > section.box2 > h2{
        text-align: center; color: #000; font-size: 30px;
    }
    main > div.step2 > section.box2 > h2 > blockquote{
        font-size: 64px; line-height: 96px; margin-bottom: 10px; color: #145412;
    }
    main > div.step2 > section.box2 > h2 > blockquote > b{
        color: #fff;
    }
    main > div.step2 > section.box2 > div.news{
        background: url('../images/newspaper_bg.png') no-repeat center / 66.25% auto; position: relative;
    }
    main > div.step2 > section.box2 > div > img{
        position: absolute;
    }
    main > div.step2 > section.box2 > div
    

    main > div.step3{
        padding-top: 2000px;
    }




}