a.topbanner{
    display: flex; gap: 20px; background-color: #FF8AAB; height: 70px; align-items: center; justify-content: center;
}
a.topbanner > img{
    width: 43px;
}
a.topbanner > span.point{
    background-color: #FFFE8D; padding: 9px 20px 6px 40px; box-sizing: border-box; width: 132px; position: relative; border-radius: 60px; font-size: 24px; color: #FF8AAB; 
}
a.topbanner > span.point > img{
    width: 62px; height: auto; position: absolute; left: -22px; top: -10px;
}
a.topbanner > span.text{
    font-size: 28px; color: #fff;
}
a.topbanner > span.text > b{
    color: #FFFE8D; position: relative;
}
a.topbanner > span.text > b::after{
    content: ''; position: absolute; left: 0; bottom: -8px; width: 100%; height: 8px; background: url("../images/line.svg") no-repeat center / 100% auto;
}
header, nav{
    z-index: 10;
}
main > div.step2{
    background-color: #B0EEAF;
}
/* main > div.step3{
    background-color: #FDD7E3;
} */
main > div.step5{
    background: url('../images/bg_wall.png') no-repeat center / 100% 100%;
}

@media screen and (max-width:767px){
    
}
@media screen and (min-width:768px) and (max-width:1279px){
    
}
@media screen and (min-width:1280px){
    [class^="box"]{
        max-width: 1200px; margin: 0 auto;
    }
    main{
        position: relative;
    }
    main > div > section img{
        display: block; max-width: 100%;
    }
    main > div.step1{
        background: url("../images/graphic.png") no-repeat center top / 1920px 922px;
    }
    main > div.step1 > section.box1{
        padding-top: 72px; position: relative; width: 100%; max-width: 1200px; margin: 0 auto;
    }
    main > div.step1 > section.box1 > h2{
        width: 50%; margin: 0 auto 245px;
    }
    main > div.step1 > section.box1 > h2 > img{
        width: 100%;
    }
    main > div.step1 > section.box1 > img:not(.content){
        position: absolute;
    }
    main > div.step1 > section.box1 > img.badge{
        left: 9%; top: 100px; width: 20%;
    }
    main > div.step1 > section.box1 > img.speech{
        left: 13%; top: 41%; z-index: 1; width: 35%;
    }
    main > div.step1 > section.box1 > img.chgif{
        left: 56%; transform: translateX(-50%); bottom: 17%; width: 50%; z-index: 2;
    }
    main > div.step1 > section.box1 > img.content{
        position: relative; z-index: 3; width: 100%;
    }
    main > div.step2{
        position: relative; width: 100%; padding: 100px 0 125px;
    }
    main > div.step2::before{
        content: ''; position: absolute; left: 0; top: -128px; width: 100%; height: 300px; background-color: #B0EEAF; z-index: -1;
    }
    main > div.step2 > section.box2 > img:first-child{
        margin: 0 auto 10px;
    }
    main > div.step2 > section.box2 > h2{
        text-align: center; color: #000; font-size: 30px;
    }
    main > div.step2 > section.box2 > h2 > span{
        font-size: 64px; line-height: 96px; margin-bottom: 10px; color: #fff; -webkit-text-stroke: 2px #146414; text-shadow: 0 5px 0 #1F861D;
    }
    main > div.step2 > section.box2 > h2 > span > b{
        color: #BBF4FF;
    }
    main > div.step2 > section.box2 > div.news{
        background: url('../images/newspaper_bg.png') no-repeat center / 66.25% auto; position: relative; height: 600px;
    }
    main > div.step2 > section.box2 > div > img{
        position: absolute;
    }
    main > div.step2 > section.box2 > div > img.news1{
        left: 46%; top: 14%;
    }
    main > div.step2 > section.box2 > div > img.news2{
        left: 5%; top: 38%;
    }
    main > div.step2 > section.box2 > div > img.news3{
        left: 40%; top: 58%;
    }
    main > div.step2 > section.box2 > div > img.cha1{
        left: 11%; top: 24%;
    }
    main > div.step2 > section.box2 > div > img.cha2{
        right: 3%; bottom: -13%; z-index: 2;
    }
    main > div.step2 > section.box2 > form > fieldset{
        width: 100%; padding: 85px 60px; position: relative; border: 2px solid transparent; border-image-source: url('../images/stroke_form.svg'); border-image-slice: 2; border-image-repeat: round; box-sizing: border-box; background-color: #fff;
    }
    main > div.step2 > section.box2 > form > fieldset > ul > li{
        position: relative; color: #333333;
    }
    main > div.step2 > section.box2 > form > fieldset > ul > li:not(:last-child){
        margin-bottom: 90px;
    }
    main > div.step2 > section.box2 > form > fieldset > ul > li:not(:first-child)::before{
        content: ''; width: 100%; height: 3px; position: absolute; left: 0; top: -44px; background: url('../images/form_line.png') no-repeat center / 100% auto;
    }
    main > div.step2 > section.box2 > form > fieldset > ul > li legend,
    main > div.step2 > section.box2 > form > fieldset > ul > li > label{
        font-size: 32px; margin-bottom: 35px; line-height: 38px;
    }
    main > div.step2 > section.box2 > form > fieldset > ul > li > label{
        display: block;
    }
    main > div.step2 > section.box2 > form > fieldset > ul > li small{
        font-size: 16px;
    }
    main > div.step2 > section.box2 > form > fieldset > ul > li > fieldset > div > input[type='checkbox'],
    main > div.step2 > section.box2 > form > fieldset > ul > li > fieldset > div > input[type='radio']{
        display: none;
    }
    main > div.step2 > section.box2 > form > fieldset > ul > li > fieldset > div::after{
        display: block; content: ''; clear: both;
    }
    main > div.step2 > section.box2 > form > fieldset > ul > li > fieldset > div > input[type='checkbox']+label{
        display: block; font-size: 24px; width: 200px; padding: 15px 0; text-align: center; border: 1px solid #666666; float: left; border-radius: 50px;
    }
    main > div.step2 > section.box2 > form > fieldset > ul > li > fieldset > div > input[type='checkbox']+label:not(:last-of-type){
        margin-right: 16px;
    }
    main > div.step2 > section.box2 > form > fieldset > ul > li > fieldset > div > input[type='checkbox']+label:nth-of-type(-n+4){
        margin-bottom: 16px;
    }
    main > div.step2 > section.box2 > form > fieldset > ul > li > fieldset > div > input[type='checkbox']:checked+label{
        color: #02A39F; border-color: #02A39F; background-color: #E6F6F6;
    }
    main > div.step2 > section.box2 > form > fieldset > ul > li > fieldset > div > input[type='radio']+label{
        font-size: 24px; padding-left: 34px; background: url('../images/icon_chk_off.svg') no-repeat left center / 24px 24px; letter-spacing: -6%;
    }
    main > div.step2 > section.box2 > form > fieldset > ul > li > fieldset > div > input[type='radio']+label:not(:first-of-type){
        margin-left: 25px;
    }
    main > div.step2 > section.box2 > form > fieldset > ul > li > fieldset > div > input[type='radio']:checked+label{
        background-image: url('../images/icon_chk_on.svg');
    }
    main > div.step2 > section.box2 > form > fieldset > ul > li > input[type='url']{
        padding: 20px; width: 50%; box-sizing: border-box; font-size: 24px; color: #333333;
    }
    main > div.step2 > section.box2 > form > fieldset > ul > li > input[type='url']::placeholder{
        color: #C3C3C3;
    }
    main > div.step2 > section.box2 > form > fieldset > ul > li > textarea{
        resize: none; color: #333333; width: 100%; padding: 20px; height: 217px; box-sizing: border-box; border: 2px solid transparent; border-image-slice: 2; border-image-source: url('../images/textarea_line.svg'); border-image-repeat: round;
    }
    main > div.step2 > section.box2 > form > fieldset > ul > li > textarea:focus{
        border-color: #02A39F; outline: none;
    }
    main > div.step2 > section.box2 > form > fieldset > ul > li > span.count{
        position: absolute; bottom: 10px; right: 20px;
    }
    main > div.step2 > section.box2 > form > input[type='submit']{
        margin: 50px auto 0; display: block; font-size: 50px; color: #333333; background-color: #FDED7C; width: 50%; padding: 25px 0; border-radius: 80px; border: 2px solid #333333; box-shadow: 0 4px 0 #333333;
    }
    main > div.step3{
        padding: 220px 0 100px; background: url('../images/태극기연.svg') no-repeat center top 78px /  12% auto, url('../images/star.svg') no-repeat right 18.75% top 170px / 3.5% auto #FDD7E3;
    }
    main > div.step3 > section.box3 > h2{
        text-align: center; font-size: 56px; color: #5A371E; margin-bottom: 35px;
    }
    main > div.step3 > section.box3 > h2 > span{
        position: relative;
    }
    main > div.step3 > section.box3 > h2 > span::before{
        content: ''; position: absolute; left: 0; bottom: 0; background: url('../images/line2.svg') no-repeat center / 100% auto; width: 100%; height: 20px
    }
    main > div.step3 > section.box3 > h2 > span > span{
        font-size: 64px; -webkit-text-stroke: 2px #5A371E; color: #fff; filter: drop-shadow(0 5px 0 #5A371E); 
    }
    main > div.step3 > section.box3 > h2 > span > span > b{
        background-image: linear-gradient(to right, #FFFE8D, #FFE14B); background-clip: text; color: transparent; -webkit-background-clip: text;
    }
    main > div.step3 > section.box3 > p{
        text-align: center; width: 50%; font-size: 30px; color: #5A371E; letter-spacing: -3%; margin: 0 auto 70px; line-height: 46px;
    }
    main > div.step3 > section.box3 > p > img{
        vertical-align: middle; width: 30px; display: inline-block; margin-left: 10px;
    }
    main > div.step3 > section.box3 > div.videobox{
        background: url('../images/bg_video.png') no-repeat center top / 100% auto; padding: 60px 60px 125px;
    }
    main > div.step3 > section.box3 > div.videobox > div.video{
        position: relative; margin-bottom: 50px;
    }
    main > div.step3 > section.box3 > div.videobox > div.video > video{
        width: 100%;
    }
    main > div.step3 > section.box3 > div.videobox > div.video > button{
        position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100px; height: 100px; border-style: none; background-color: transparent; padding: 0;
    }
    main > div.step3 > section.box3 > div.videobox > ul{
        padding-left: 60px; font-size: 24px; color: #4D4D4D;
    }
    main > div.step3 > section.box3 > div.videobox > ul > li{
        position: relative; padding-left: 40px;
    }
    main > div.step3 > section.box3 > div.videobox > ul > li::before{
        content: ''; width: 24px; height: 24px; position: absolute; left: 0; top: 8px; background: url('../images/icon_check.svg');
    }
    main > div.step3 > section.box3 > div.videobox > ul > li:not(:last-child){
        margin-bottom: 15px;
    }
    main > div.step4{
        position: relative; background: url('../images/bg_tab.png') no-repeat center bottom / 100% auto, url('../images/stroke_tab.svg') no-repeat center top 300px / 100% auto #FFF6C8; padding: 100px 0 140px;
    }
    main > div.step4 > section.box4 > div.tabs > ul.tabcontent > li{
        display: none;
    }
    main > div.step4 > section.box4 > div.tabs > ul.tabcontent > li.active{
        display: block;
    }
    main > div.step4 > section.box4{
        width: 62.5%;
    }
    main > div.step4 > section.box4 > h2{
        font-size: 56px; color: #5A371E; text-align: center; padding-top: 65px; background: url('../images/logo_chocopop.svg') no-repeat center top / 114px 55px; margin-bottom: 50px;
    }
    main > div.step4 > section.box4 > button{
        position: absolute; width: 70px; height: 70px; background-color: transparent; border-style: none; top: 50%;
    }
    main > div.step4 > section.box4 > button:first-of-type{
        left: 13%;
    }
    main > div.step4 > section.box4 > button:last-of-type{
        right: 13%;
    }
    main > div.step4 > section.box4 > ul.subj{
        width: 42.55%; position: absolute; left: 50%; top: 275px; transform: translateX(-50%);
    }
    main > div.step4 > section.box4 > ul.subj::after{
        display: block; content: ''; clear: both;
    }
    main > div.step4 > section.box4 > ul.subj > li{
        float: left; width: 22.7%;
    }
    main > div.step4 > section.box4 > ul.subj > li:not(:first-child){
        margin-left: 3%;
    }
    main > div.step4 > section.box4 > ul.subj > li > button{
        letter-spacing: -4%; padding: 20px 0; width: 100%; text-align: center; color: #888888; border-style: none; background: url('../images/tape_white.png') no-repeat center / 100% auto ; font-size: 32px; line-height: 38px;
    }
    main > div.step4 > section.box4 > ul.subj > li > button.active{
        font-weight: 700; color: #fff;
    }
    main > div.step4 > section.box4 > ul.subj > li:first-child > button.active{
        background-image: url('../images/tape_yellow.png'); 
    }
    main > div.step4 > section.box4 > ul.subj > li:nth-child(2) > button.active{
        background-image: url('../images/tape_red.png');
    }
    main > div.step4 > section.box4 > ul.subj > li:nth-child(3) > button.active{
        background-image: url('../images/tape_blue.png');
    }
    main > div.step4 > section.box4 > ul.subj > li:last-child > button.active{
        background-image: url('../images/tape_green.png');
    }
    main > div.step4 > section.box4 > div.tabs{
        width: 100%; margin: 0 auto;
    }
    main > div.step5{
        padding: 115px 0 225px;
    }
    main > div.step5 > section.box5 > h2{
        text-align: center; margin-bottom: 50px;
    }
    main > div.step5 > section.box5 > h2 > img{
        margin: 0 auto 40px; width: 382px;
    }
    main > div.step5 > section.box5 > h2 > small{
        display: block; font-size: 52px; color: #552911; letter-spacing: -3%;
    }
    main > div.step5 > section.box5 > h2 > b{
        font-size: 64px; color: #fff; text-shadow: 0 5px 0 #552911; -webkit-text-stroke: 2px #552911;
    }


}